html {
    font-family: 'Lato';
}

header {
    color: white;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(sample.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.nav {
    background-color: black;
    padding: 15px;
    display: flex;
}

.nav h2 {
    margin-left: 120px;
    float: left;
}

.nav ul{
    float: right;
    list-style: none;
}

.nav ul li{
    margin-right: 25px;
    display: inline-block;
    color: white;
}

article{
    padding: 20px;
    color: white;
    background-color: #08121C;
}

.section-2 h4 {
    color: #00F7FF;
}

.feature-nav button {
    margin-top: 57px;
    font-size: 28px;
    width: 200px;        
    border-width: 0;
    border-radius: 50px;
    background-color: #FFF;
}

.feature {
    margin-top: 137px;
}

.mockup {
    height: 714px;
    width: 952px;
}

footer {
    padding: 10px;
    background-color: black;
    color: white;
}

.footer-left {
    margin-left: 100px;
}